:root {
  --nyanza: #daf7dc;
  --prussian-blue: #092a49;
  --blue-sapphire: #0b4f6c;
  --platinum: #eaeaea;
  --card-shadow: 0 4px 8px 0 #eaeaea, 0 6px 20px 0 #eaeaea;
  --card-shadow-alt: 0 4px 8px 0 #092a49, 0 6px 20px 0 #092a49;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: var(--nyanza);
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--nyanza);
}
a:hover {
  text-shadow: -1px -1px 1px var(--platinum);
  cursor: pointer;
  text-decoration: none;
}
/* Navbar */

.navbar-custom {
  position: sticky;
  top: 0;
  height: 8vh;
  background-color: var(--prussian-blue);
  color: var(--nyanza);
  display: flex;
  justify-content: space-evenly;
}
.nav-item-custom {
  /* text-align: center; */
  margin: auto;
}
/* .nav-item-custom:hover {
  text-shadow: -1px -1px 1px var(--platinum);
  cursor: pointer;
} */

/* Home Page  */
.home {
  height: 100vh;
  width: 100%;
  background-color: var(--prussian-blue);
  padding: 10px;
  display: flex;
}
.home-header {
  text-align: center;
}
.home-info-container {
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin: auto;
  padding: 10px;
}
.home-pic {
  width: 50%;
  margin: auto;
  padding: 10px;
}
.social-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.social-container a {
  padding: 8px;
}
i.fab {
  color: var(--nyanza);
}

i.fab:hover {
  text-shadow: -1px -1px 1px var(--platinum);
}

/* Projects styles */
.projects-title {
  background-color: var(--blue-sapphire);
  margin: 0;
  height: 50px;
  text-align: center;
}
/* Projects Container */

.projects-container {
  height: 100%;
  width: 100%;
  background-color: var(--blue-sapphire);
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.project {
  display: flex;
}
/* Main container styles */
.project-container-main {
  height: 35%;
  width: 100%;
  display: flex;
}

.image-container {
  width: 50%;
  height: 100%;
  margin: auto;
  margin-right: 25px;
}

.img-main {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: var(--card-shadow);
  margin: 10px;
}

.project-info-main {
  width: 50%;
  padding: 10px;
}

/* Alt container styles */
.project-container-alt {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img-alt {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: var(--card-shadow);
  margin: 10px;
}

.project-info-alt {
  width: 50%;
  margin: auto;
  padding: 10px;
}

/* Shared Project Styles */
.project-name {
  text-align: center;
}

.tech-icons {
  margin: 10px;
  padding: 5px;
  display: flex;
  /* flex-direction: column; */
  font-size: 4rem;
  justify-content: space-evenly;
}

.tech-icons i:hover {
  text-shadow: -1px -1px 2px var(--platinum);
}
.project-links {
  display: flex;
  width: 50%;
  margin: 0 auto auto auto;
  justify-content: space-evenly;
}

.project-link {
  margin: 10px;
}
